@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #424242;
    line-height: 25px;
    font-weight: 500;
}
.center-align{
    width: 28%;
    margin: auto;
}
.main, .box{
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.box{
    font-size: 16px;
}
.logo{
    width: 35%;
    margin: auto;
    padding-bottom: 6%;
}
.box input{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}
.box label, .box input{
    padding: 5% 0 0 0;
}
.btn{
    padding: 2%;
    padding-left: 4%;
}
.btn a img{
    width: 20px;
    height: 18px;
}
.tip{
    font-weight: 300;
    font-size: 14px;
    margin: 0%;
    padding: 0%;
    padding-top: 2%;
    line-height: 1;
}
.btn span{
    font-size: 20px;
}
.btn{
    margin: auto;
}
.box .btn{
    margin: 0%;
    padding: 3%;
    background-color: #ff7043;
    border: none;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
}
.input-group{
    display: grid;
    grid-template-columns: 10% 88%;
    gap: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.alert{
    padding: 0%;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #c40000;
}
.box input{
    font-size: 15px;
    padding-bottom: 1%;
}
.box input::after{
    border-color: #ff7043;
}
.login {
    text-align: center;
}
.login .btn2{
    width: 100%;
    display: grid;
    margin: 2%;
    padding-top: 4%;
    grid-template-columns: 35% 65%;
    border: 1px solid #e0e0e0;
}
.login .btn2 p{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
.login .btn2 img{
    width: 25%;
    margin-left: 60%;
}
.login .text{
    font-size: 16px;
    font-weight: 400;
}
.login .terms{
    font-size: 14px;
    text-align: left;
}
.text a{
    text-decoration: none;
}