<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="//cdn.fcglcdn.com/brainbees/images/FC_favicon_01.ico" type="image/x-icon">
    <title>Registration</title>
</head>
<body>
    <div class="center-align">
        <img src="https://cdn.fcglcdn.com/brainbees/images/n/fc-logo-s.jpg" alt="Firstcry">
        <div class="form">
            <form action="/register" method="post">
                <div class="btn">

                </div>
                <div class="box">
                    <label for="name">Full Name</label>
                    <input type="text" id="name", placeholder="Enter your Full Name">
                </div>
                <div class="box">
                    <label for="mobile">Mobile Number</label>
                    <input type="number" id="mobile", placeholder="Enter your Mobile Number">
                    <p class="tip">OTP will be sent on this Mobile No. for verification.</p>
                </div>
                <div class="box">
                    <label for="email">Email ID</label>
                    <input type="text" id="email", placeholder="Enter your Email ID">
                </div>
                <div class="box">
                    <label for="password">Password</label>
                    <input type="text" id="password", placeholder="Enter your Password">
                    <p class="tip">Password must be at least 8 characters long with 1 Uppercase, 1 Lowercase & 1 Numeric character.</p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>