<div id="footer" class="container-fluid mt-5 pb-5">
    <div class="fs-1 container-fluid text-center position-static d-flex justify-content-center">
        <h1 class="bg-light text-warning border rounded-pill px-5 py-1 m-text-color1">big store for little ones</h1>
    </div>
    <div class="container-fluid text-center row">
        <div class="col-1"></div>
        <div class="col-2 p-5 pb-0 m-text-color2">
            <i class="bi m-icon bi-piggy-bank-fill"></i>
            <p>2 Lakhs + Unique Products</p>
        </div>
        <div class="col-2 p-5 pb-0 m-text-color2">
            <i class="bi m-icon bi-star-fill"></i>
            <p>5800 Brands</p>
        </div>
        <div class="col-2 p-5 pb-0 m-text-color2">
            <i class="bi m-icon bi-emoji-smile"></i>
            <p>7.5 Million Registered Users</p>
        </div>
        <div class="col-2 p-5 pb-0 m-text-color2">
            <i class="bi m-icon bi-arrow-repeat"></i>
            <p>7.5 Million Registered Users</p>
        </div>
        <div class="col-2 p-5 pb-0 m-text-color2">
            <i class="bi m-icon bi-truck"></i>
            <p>Free Shipping Available above Rs. 699*</p>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="container-fluid row">
        <div class="col-2">
            <div class="fs-6">CATEGORIES</div>
            <hr class="p-0 m-0 my-1">
            <p class="p-0 m-0 fs-14">Clothing & Fashion</p>
            <p class="p-0 m-0 fs-14">Toys</p>
            <p class="p-0 m-0 fs-14">Books & CDs</p>
            <p class="p-0 m-0 fs-14">School Supplies</p>
            <p class="p-0 m-0 fs-14">Birthday Party Supplies</p>
            <p class="p-0 m-0 fs-14">Baby Diapering</p>
            <p class="p-0 m-0 fs-14">Feeding & Nursing</p>
            <p class="p-0 m-0 fs-14">Bath & Skin Care</p>
            <p class="p-0 m-0 fs-14">Health & Safety</p>
            <p class="p-0 m-0 fs-14">Baby Gear</p>
            <p class="p-0 m-0 fs-14">Nursery</p>
            <p class="p-0 m-0 fs-14">Moms & Maternity</p>
            <p class="p-0 m-0 fs-14">Gifts</p>
            <p class="p-0 m-0 fs-14">Preschool Admissions</p>
            <div class="fs-6">COMPANY INFO</div>
            <hr class="p-0 m-0 my-1">
            <p class="p-0 m-0 fs-14">About Us</p>
            <p class="p-0 m-0 fs-14">Contact Us</p>
            <p class="p-0 m-0 fs-14">Brands</p>
            <p class="p-0 m-0 fs-14">F.A.Q.s</p>
            <p class="p-0 m-0 fs-14">FirstCry Stores & Preschool</p>
        </div>
        <div class="col-2">
            <div class="fs-6">FIRSTCRY PARENTING</div>
            <hr class="p-0 m-0 my-1">
            <p class="p-0 m-0 fs-14">Getting Pregnant</p>
            <p class="p-0 m-0 fs-14">Pregnancy</p>
            <p class="p-0 m-0 fs-14">Baby</p>
            <p class="p-0 m-0 fs-14">Toddler</p>
            <p class="p-0 m-0 fs-14">Preschooler</p>
            <p class="p-0 m-0 fs-14">Big Kid</p>
            <p class="p-0 m-0 fs-14">Vaccination</p>
            <p class="p-0 m-0 fs-14">Growth Tracker</p>
            <p class="p-0 m-0 fs-14">Baby Names</p>
            <p class="p-0 m-0 fs-14">FirstCry Parenting YouTube</p>
            <div class="fs-6">REGIONAL PARENTING</div>
            <hr class="p-0 m-0 my-1">
            <p class="p-0 m-0 fs-14">FirstCry Hindi Parenting</p>
            <p class="p-0 m-0 fs-14">FirstCry Marathi Parenting</p>
            <p class="p-0 m-0 fs-14">FirstCry Bangla Parenting</p>
            <p class="p-0 m-0 fs-14">FirstCry Arabia Parenting</p>
            <p class="p-0 m-0 fs-14">FirstCry UAE Parenting</p>
        </div>
        <div class="col-2">
            <div class="fs-6">SHIPPING & POLICIES</div>
            <hr class="p-0 m-0 my-1">
            <p class="p-0 m-0 fs-14">Payments</p>
            <p class="p-0 m-0 fs-14">Shipping Policy</p>
            <p class="p-0 m-0 fs-14">Return & Replacement Policy</p>
            <p class="p-0 m-0 fs-14">Cancellation Policy</p>
            <p class="p-0 m-0 fs-14">Terms of Use</p>
            <p class="p-0 m-0 fs-14">Privacy Policy</p>
            <p class="p-0 m-0 fs-14">Next day & Same day delivery</p>
            <div class="fs-6">PAYMENT METHOD</div>
            <hr class="p-0 m-0 my-1">
            <p class="p-0 m-0 fs-14">Credit Cards</p>
            <p class="p-0 m-0 fs-14">Net Banking</p>
            <p class="p-0 m-0 fs-14">ATM & Debit Cards</p>
            <p class="p-0 m-0 fs-14">COD(Cash on Delivery)</p>
            <p class="p-0 m-0 fs-14">Easy EMI</p>
            <div class="fs-6">CONNECT WITH US</div>
            <hr class="p-0 m-0 my-1">
            <p class="p-0 m-0">
                <i class="bi m-icon2 bi-facebook"></i>
                <i class="bi m-icon2 bi-instagram"></i>
                <i class="bi m-icon2 bi-twitter"></i>
                <i class="bi m-icon2 bi-youtube"></i>
                <i class="bi m-icon2 bi-linkedin"></i>
            </p>
            <p class="p-0 m-0 fs-14">Testimonials</p>
            <p class="p-0 m-0 fs-14">SITEMAP</p>
            <p class="p-0 m-0 fs-14">LOYALTY CASH</p>
        </div>
        <div class="col-3">
            <div class="fs-6">OUR APPS</div>
            <hr class="p-0 m-0 my-1">
            <p class="p-0 m-0 fs-14">FirstCry India: Shopping & Parenting</p>
            <p class="p-0 m-0 fs-14">FirstCry India: Shopping & Parenting iOS</p>
            <div class="fs-6">Learning & Education</div>
            <hr class="p-0 m-0 my-1">
            <p class="p-0 m-0 fs-14">Intellikits</p>
            <p class="p-0 m-0 fs-14">Intellitots</p>
            <div class="fs-6">SHOP INTERNATIONAL</div>
            <hr class="p-0 m-0 my-1">
            <p class="p-0 m-0 fs-14">FirstCry UAE</p>
            <p class="p-0 m-0 fs-14">FirstCry UAE: Shopping & Parenting</p>
            <p class="p-0 m-0 fs-14">FirstCry UAE: Shopping & Parenting iOS</p>
            <div class="fs-6">KIDS LEARNING & EDUCATIONAL APPS</div>
            <hr class="p-0 m-0 my-1">
            <p class="p-0 m-0 fs-14">PlayBees: Kids Learning & Education App</p>
            <p class="p-0 m-0 fs-14">PlayBees: 123 Kids Numbers App</p>
            <p class="p-0 m-0 fs-14">PlayBees: ABC for Kids</p>
        </div>
        <div class="col-3 d-flex flex-column-reverse">
            <img class="p-2" src="" alt="">
            <img class="p-2" src="https://cdn.fcglcdn.com/brainbees/images/intellitots-franchise-footer-banner.webp" alt="">
        </div>
    </div>
    <hr>
    <div class="container-fluid row col-12">
        <small>
            <p class="fw-bold">FirstCry India ~ Online Store for Baby & Kids Products</p>
            <p class="lh-sm">
                Explore kids and baby products galore at FirstCry.com, the Big Store for Little Ones. We at FirstCry.com empathize with you as a mother who always aspires to bestow her newborn, infant, baby or kid with the best things even for their smallest needs. That is why, 'Mommy Knows Best'. From breastfeeding to bathing essentials, right furniture to myriad baby care products, a mother needs them all for her lil' one. This inspires us to offer convenient & hassle-free online shopping not just for babies & kids but for moms-to-be & new moms as well.
                <br>
                With 2 Lakh Baby & Kids Products, 2 Million Happy Customers, and 2 Thousand+ top-notch national and international brands like Babyhug, Pampers, Mamypoko, Huggies, Baby Dove, Sebamed, Himalaya, Philips Avent, Medela, FisherPrice, Carter's, Cute Walk by Babyhug, Kookie Kids, Babyoye, Mark & Mia and more you can look forward to an unparalleled shopping experience with us. Shop for baby & kids products online ranging across diapering, feeding & nursing, skin & health care, baby & kids toys, newborn & infant clothing, baby clothes, kids wear, footwear, fashion accessories, baby gear, nursery, kids furniture, gifts, party supplies, books & CDs, school supplies and more at great discounts.
                <br>
                With the FirstCry mobile app, now you can shop on the go! Download the FirstCry Android and the iOS app and Voila!
            </p>
        </small>
        <small>
            <p class="fw-bold">Newborn & Baby Products Online Shopping in India</p>
            <p class="lh-sm">Along with all your affection and attention, your little bundle of joy deserves the best when it comes to newborn & baby items. Pamper your lil' one with the widest range of newborn & baby products: right from diapers to potty chairs, onesies to party wear, booties to clogs, carry-cots to baby walkers, rattles to learning toys, FirstCry has it all! FirstCry newborn baby shopping checklist.</p>
        </small>
        <small>
            <p class="fw-bold">Online Shopping for Kids at FirstCry.com</p>
            <p class="lh-sm">Shopping for your kid is no child's play and thus we help you explore, choose and buy from an exhaustive & finest collection of kids' products. FirstCry buying guides, premium store, boutiques, products checklist, and look-books are all aimed towards an enriching and a fulfilling shopping experience. That's what makes us your go-to online store for kids shopping.</p>
        </small>
        <small>
            <p class="fw-bold">FirstCry Parenting</p>
            <p class="lh-sm">
                With FirstCry Parenting, FirstCry isn’t just about shopping anymore. No matter if you are a first time parent, or it’s you second pregnancy we have you covered. FirstCry Parenting aids you not only as a perplexed parent, but also at each step from Planning to Pregnancy.
                <br>
                Learn more about the important vaccines for your child from birth to 12 years, the immunization schedule and have it personalized for your child and never miss a vaccine with our timely notifications.
                <br>
                Worried about your child’s growth? Don’t be! Track your child’s height & weight with our child growth tracker and take proactive steps towards your child’s healthy growth.
                <br>
                Benefit from expert advice, researched articles, Q&A’s, tools & trackers and tips from fellow parents and simplify your parenting experience with us.
            </p>
        </small>
        <small>
            <p class="fw-bold">FirstCry Intellikit</p>
            <p class="lh-sm">
                Keep your little one engaged for hours with this age-appropriate fun with learning activity program. FirstCry Intellikit is designed by developmental experts and toy makers to put together unique themed activities every month! Each box contains activities, a story book, flash cards and so much more!
                <br>
                With the Intellikit, your child will learn about a vast variety of topics, while enhancing and honing development, all in a fun and interactive way! To see all the past boxes and the current theme, click here.
            </p>
        </small>
        <small>
            <p class="fw-bold">FirstCry Intellitots Preschool</p>
            <p class="lh-sm">
                From shopping to parenting reads to activity boxes and now schools, FirstCry covers everything from conception to your baby's education! FirstCry Intellitots preschools offer children a unique learning experience through hands-on education that covers life-skills and more. Modeled around the SPARKS' curriculum, children are exposed to quality education and given individual attention. Learn more about all the exciting things happening at our preschools here.
            </p>
        </small>
        <small>
            <p class="fw-bold">FirstCry India Offers</p>
            <p class="lh-sm">
                Satisfaction and Savings come guaranteed with irresistible FirstCry offers & deals on a range of high quality products. These are including but not limited to the FirstCry shopping carnivals, loyalty cash program, app offers, bank & wallet offers, Free @ Three, cashback, Guaranteed savings offers & more.
                <br>
                To start with, why not grab some great discounts with the FirstCry coupons and buy baby & kids products online from anywhere in India with Free Shipping, Cash On Delivery (COD), Same & Next day delivery & EZ returns options. Happy Shopping!
            </p>
        </small>
        <small>
            <p class="lh-sm">© 2010-2021 www.FirstCry.com. All rights reserved. This website can be best viewed in resolution width of 1024 and above.</p>
        </small>
    </div>
</div>