<div id="navfooter" >
    <nav class="navbar navbar-expand-lg navbar-light p-0 m-0 bg-spcolor1 fixed-bottom">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item m-bg-light dropdown">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Shortlist
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Firstcry</a></li>
                </ul>
              </li>
              <li class="nav-item m-bg-light dropdown">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Recently Viewed
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Firstcry</a></li>
                </ul>
              </li>
              <li class="nav-item m-bg-light dropdown">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Quick Re-Order
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Firstcry</a></li>
                </ul>
              </li>
              <li class="nav-item m-bg-light dropdown">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Track Order
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Firstcry</a></li>
                </ul>
              </li>
              <li class="nav-item m-bg-light dropdown">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Be in Touch
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Firstcry</a></li>
                </ul>
              </li>
              <li class="nav-item m-bg-light dropdown">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Become a Franchisee
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Firstcry</a></li>
                </ul>
              </li>
              <li class="nav-item m-bg-light dropdown">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Preschool Admissions
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Firstcry</a></li>
                </ul>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
</div>